%h4.page-header Точность классификации
.table-responsive
	%table.table.table-bordered#accuracy_test
		%thead
			%tr
				%th{style: "font-weight: bold;background: #{accuracy_test.color}"}
					= number_to_percentage(100 * accuracy_test.accuracy, precision: 1)
					%span{style: "color: white;"}= t(:accuracy)
						
				- AccuracyTest::CATEGORIES.each do |category|
					%th
						= t(category)
						%span= t(:assigned)
				%th= t(:recall)
		%tbody
			- AccuracyTest::CATEGORIES.each do |category|
				%tr
					%td.sentiment-name 
						= t(category)
						%span= t(:real)
					- accuracy_test.send(category).values.each do |value|  
						%td.cohort-data= value
					%td= number_to_percentage(100 * accuracy_test.recall(category), precision: 1)
			%tr
				%td.sentiment-name= t(:ppv)
				- AccuracyTest::CATEGORIES.each do |category|
					%td= number_to_percentage(100 * accuracy_test.precision(category), precision: 1)


				