.container
  .row
    .col-md-6.col-md-offset-3
      .page-title
        %h1= t(:support)
        %p= t(:thank_you_for_message)
      = simple_form_for @ticket, :html => { class: 'form-horizontal', novalidate: false, remote: true} do |f| 
        .form-group
          = f.input :name, label: false, placeholder: "#{t(:name)}", :input_html => {class: "form-control"}
        .form-group
          = f.input :email, label: false, as: :email, placeholder: "#{t(:email)}", :input_html => {class: "form-control", required: true}
        .form-group
          = f.input :message, label: false, as: :text, :input_html => {class: "form-control"}
        .form-group
          = f.button :submit, "#{t(:save)}", class: "btn-default"

