.row
  .col-md-12.col-sm-12
    .kpi
      %h4.page-header  
        Индекс отношения к компании
      .graph-container
        #company_sentiment_index_chart{"data-metrics" => '["iok", "growth"]', "data-chart" => "true"}
          
      .summary_metrics
        = summary_metric((@company.current_cluster.csi_growth || 1) * 100, "CSI growth rate","%")   
        = summary_metric((@company.current_cluster.price_growth || 1) * 100, "Price growth rate","%")  

      
  .col-md-12.col-sm-12
    .kpi
      %h4.page-header 
        Сантименты
      .graph-container
        #sentiments_chart{"data-metrics" => '["positive", "negative", "neutral"]', "data-chart" => "true"}
      
      .summary_metrics
        = summary_metric((@company.current_cluster.share_of "positive") * 100, "Share of positive","%")
        = summary_metric((@company.current_cluster.share_of "negative") * 100, "Share of negative","%")
        = summary_metric((@company.current_cluster.share_of "neutral") * 100, "Share of neutral","%")
 

