.row
  .col-md-12.col-sm-12
    .kpi
      %h4.page-header  
        Индекс отношения к компании
        %i.fa.fa-info-circle{title: "<p class='lead'>Customer lifetime value</p><p>Average revenue per account divided by customer churn rate</p><p class='lead'>Customer acquisition cost</p><p>Total costs divided by the number of new customers (both paying and trial).</p>", "data-toggle" => "tooltip"}
      .graph-container
        #company_sentiment_index_chart{"data-metrics" => '["iok", "growth"]'}
          
      .summary_metrics
        = summary_metric((@company.current_cluster.csi_growth || 1) * 100, "CSI growth rate","%")   
        = summary_metric((@company.current_cluster.price_growth || 1) * 100, "Price growth rate","%")  

      
  .col-md-12.col-sm-12
    .kpi
      %h4.page-header 
        Сантименты
        %i.fa.fa-info-circle{title: "<p class='lead'>Time to recover CAC</p><p>Customer acquisition cost divided by average monthly revenue per customer.</p>", "data-toggle" => "tooltip"}
      .graph-container
        #sentiments_chart{"data-metrics" => '["positive", "negative", "neutral"]'}
      
      .summary_metrics
        = summary_metric((@company.current_cluster.share_of "positive") * 100, "Share of positive","%")
        = summary_metric((@company.current_cluster.share_of "negative") * 100, "Share of negative","%")
        = summary_metric((@company.current_cluster.share_of "neutral") * 100, "Share of neutral","%")
 

