.container#main-dashboard
  .row
    .col-md-6.col-md-offset-3
      .page-title
        %h1=t(:companies)
  .row
    .table-responsive
      %table.table.table-bordered
        %thead
          %th ID
          %th= t(:name)
          %th= t(:stock_ticker_symbol)
          %th= t(:tweets)
          %th= t(:edit)
          %th= t(:delete)
        %tbody
          - @companies.each do |company|
            %tr
              %td= company.id
              %td= link_to company.name, company
              %td= company.stock_ticker_symbol
              %td= link_to t(:tweets), company_documents_path(company)
              %td= link_to t(:edit), edit_company_path(company)
              %td= link_to t(:delete), company, method: :delete



    .btn-group
      = link_to t(:new_company), new_company_path, class: "btn btn-default"


      
    
      
                
