.container-fluid
  .row
    #authentication_form.col-md-8.col-md-offset-2      
      .col-md-6.demo-left
        %h4= t(:login)
        %p= t(:login_to_your_account)
      
        = simple_form_for(:user, as: :user, url: session_path(resource_name)) do |f| 
          .form-group
            = f.input :email, required: true, label: false, placeholder: "#{t(:email)}", :input_html => {class: "form-control", required: true, autocomplete: "off"} 
          .form-group
            = f.input :password, required: true, label: false, placeholder: "#{t(:password)}", :input_html => {class: "form-control", required: true, autocomplete: "off"}      
          .form-group
            = f.button :submit, "#{t(:log_in)}", class: "btn", style: "background: #2ecc71;"
              
      .col-md-6.demo-right
        %h4= t(:login_with_social_networks)
        %p= t(:get_instant_access_to_app)
              
        .social-button-container
          %a.btn.btn-block.btn-social.btn-twitter{href: "#{user_omniauth_authorize_path(:twitter)}"}
            %i.fa.fa-twitter
            = t(:sign_in_with_twitter)
          %a.btn.btn-block.btn-social.btn-facebook{href: "#{user_omniauth_authorize_path(:facebook)}"}
            %i.fa.fa-facebook
            = t(:sign_in_with_facebook)

